#Ruby, #Java, #CSharp {
  display: none;
  background-color: #FFF377;
  padding: 20px;
}

.jumbotron {
  margin-top: 5px;
  font-family: 'Quattrocento', serif;
  text-align: center;
  background-color: #08770C;
  color:#fff;
  border: thin solid black;
}

.jumbotron p {
  text-align: left;
  font-size: 16px;
}

img {
  margin-bottom: 10px;
}

#output p {
  font-family: 'Quattrocento', serif;
  font-size: 16px;
}

button {
  margin-top: 15px;
}
